#about {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  /* text-align: center; */
}

p {
  font-size: 1.25rem;
}

@media screen and (max-width: 540px) {
  p {
    font-size: 0.8rem;
  }
  #about {
    width: 95%;
    padding: 10px;
  }
}
